!!!5
%html
  %head
    =Haml::Engine.new(File.read('./include/head.haml')).render(self, :title => "Обо мне", :styles => ["About"], :javascripts => [])
  %body
    %header=Haml::Engine.new(File.read('./include/header.haml')).render(self, :selected => 1)
    #content
      %h1 Автобиография
      %p Мое имя Диана. Дома мама зовет меня Диана кызым.
      %p Я учусь в третьем классе. В свободное время мы с мамой катаемся на лыжах, на коньках. Ко мне на день рождения приходили девочки. Они подарили подарки для домашнего творчества, и в выходные дни я собираю мозаику из пайеток. Мама мне сказала: «Если ты соберешь мозаику, то можно будет ее показать в классе». Иногда она сидит со мной и помогает мне. Нам вместе хорошо.
