.row {
  width: 100%;
}

.row > img {
  box-sizing: border-box;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16.6%;
  float: left;
  transition: 1s transform;
}

.row > img:hover {
  transform: scale(1.1);
  transition: 2s transform;
}
