- @jquery = "https://code.jquery.com/jquery-3.6.0.min.js"
- @styles=styles
- @javascripts=javascripts

%meta{charset: "UTF8"}
%link{href: "./css/style.css", rel: "stylesheet"}
-@styles.each do |style|
  %link{href: "./css/#{style}.css", rel: "stylesheet"}
%script{defer: "", src: "./js/main.js", type: "module"}
%script{defer: "", src: "./js/history.js"}
- @javascripts.each do |js|
  %script{defer: "", src: "./js/#{js}.js"}
%script{src: @jquery}
%title= title