#history {
    display: flex;
}

#history_all, #history_current {
    flex: 50%;
}

#change_mode_button {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(113, 210, 255);
}
#change_mode_button:active {
    background-color: rgb(113, 180, 255);
}