!!!5
%html
  %head
    =Haml::Engine.new(File.read('./include/head.haml')).render(self, :title => "Главная страница", :styles => ["mainPage"], :javascripts => [])
  %body
    %header=Haml::Engine.new(File.read('./include/header.haml')).render(self, :selected => 0)
    #content
      %h1 Лабораторная работа №5
      %h2 Исследование возможностей библиотеки jQuery
      %br
      %br
      %img{src: "./img/me.png", alt: "ma face"}
      %p
        Меня зовут
        %b Маринин Игорь Игоревич
        , я студент группы
        %b ПИ/б-18-1-о
        в
        %b Севастопольском Государственном Университете