!!!5
%html
  %head
    =Haml::Engine.new(File.read('./include/head.haml')).render(self, :title => "Учёба", :styles => ["Study"], :javascripts => [])
  %body
    %header=Haml::Engine.new(File.read('./include/header.haml')).render(self, :selected => 3)
    #content
      %p
        Я обучаюсь в
        %b ФГАОУ ВО "Севастопольском Государственном Университете"
        кафедра
        %b Информационные системы
        по направлению
        %b Прикладная информатика

      %p Вот перечень дисциплин, которые я уже успел изучить:

      / Ух таблицы, блин
      -# Использовал следующий код:
        var bigdata = [];
        var tr = [];
        var attrs = [];
        $('table tr').each((i, e)=>{
          tr = [];
          $(e).find('td').each((i, e) => {
            tr.push([e.className, e.colSpan, e.rowSpan, e.innerText]);
          });
          bigdata.push(tr);
        });
        console.log(JSON.stringify(bigdata))

      - @tableData = [[["",1,3,"№"],["bold",1,3,"Дисциплина"],["bold",12,1,"Часов в неделю (Лекций, Лаб.раб, Практ. раб)"]],[["bold",6,1,"1 курс"],["bold",6,1,"2 курс"]],[["bold",3,1,"1 сем"],["bold",3,1,"2 сем"],["bold",3,1,"3 сем"],["bold",3,1,"4 сем"]],[["",1,1,"1"],["italic",1,1,"Экология"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["bold",1,1,"1"],["bold",1,1,"0"],["bold",1,1,"1"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"2"],["italic",1,1,"Высшая математика"],["bold",1,1,"3"],["bold",1,1,"0"],["bold",1,1,"3"],["bold",1,1,"3"],["bold",1,1,"0"],["bold",1,1,"3"],["bold",1,1,"2"],["bold",1,1,"0"],["bold",1,1,"2"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"3"],["italic",1,1,"Русский язык и культура речи"],["bold",1,1,"1"],["bold",1,1,"0"],["bold",1,1,"2"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"4"],["italic",1,1,"Основы дискретной математики"],["bold",1,1,"2"],["bold",1,1,"0"],["bold",1,1,"1"],["bold",1,1,"3"],["bold",1,1,"0"],["bold",1,1,"2"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"5"],["italic",1,1,"Основы программирования и алгоритмические языки"],["bold",1,1,"3"],["bold",1,1,"2"],["bold",1,1,"0"],["bold",1,1,"3"],["bold",1,1,"3"],["bold",1,1,"0"],["bold",1,1,"0"],["bold",1,1,"0"],["bold",1,1,"1"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"6"],["italic",1,1,"Основы экологии"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["bold",1,1,"1"],["bold",1,1,"0"],["bold",1,1,"0"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"7"],["italic",1,1,"Теория вероятностей и математическая статистика"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["bold",1,1,"3"],["bold",1,1,"1"],["bold",1,1,"0"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"8"],["italic",1,1,"Физика"],["bold",1,1,"2"],["bold",1,1,"2"],["bold",1,1,"0"],["bold",1,1,"2"],["bold",1,1,"2"],["bold",1,1,"0"],["bold",1,1,"2"],["bold",1,1,"1"],["bold",1,1,"0"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"9"],["italic",1,1,"Основы электротехники и электроники"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["bold",1,1,"2"],["bold",1,1,"1"],["bold",1,1,"1"],["",1,1,""],["",1,1,""],["",1,1,""]],[["",1,1,"10"],["italic",1,1,"Численные методы в информатике"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["bold",1,1,"2"],["bold",1,1,"2"],["bold",1,1,"0"],["bold",1,1,"0"],["bold",1,1,"0"],["bold",1,1,"1"]],[["",1,1,"11"],["italic",1,1,"Методы исследования операций"],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["",1,1,""],["bold",1,1,"1"],["bold",1,1,"1"],["bold",1,1,"0"],["bold",1,1,"2"],["bold",1,1,"1"],["bold",1,1,"1"]]]
      %table
        - @tableData.each do |tr|
          %tr
            - tr.each do |className, col, row, text|
              %td{class: "#{className}", colspan: "#{col}", rowspan: "#{row}"} #{text}